.App{
    background-color: #3B3B3B;
}

h1 {
    color: white;
}

.section{
    margin: 20px;
    background-color: #9B9B9B;
}

.expense-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10%;
    border: 1px solid #9B9B9B
}